## Read the data

This code will give you the data you will use for this PC:

In [24]:
# read web table into pandas DF
import pandas as pd

co2Link='https://docs.google.com/spreadsheets/d/e/2PACX-1vRXjfxeKHQBBCh_oHP-D6RIHEX4eduLjydHb6ZGsU4jo0IK0KKQSoYX_X1FGssC_9hnqCgjKN0K4AVf/pub?gid=775098192&single=true&output=csv'
carbon=pd.read_csv(co2Link)

In [25]:
# here it is:
carbon

,name,metric tonnes of CO2,date_of_information,ranking,region
0,China,1.219600e+10,2023,1,East and Southeast Asia
1,United States,4.795000e+09,2023,2,North America
2,India,2.821000e+09,2023,3,South Asia
3,Russia,1.844000e+09,2023,4,Central Asia
4,Japan,9.602300e+08,2023,5,East and Southeast Asia
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,212,South America
212,Montserrat,2.400000e+01,2023,213,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,215,Africa
215,Niue,9.000000e+00,2023,216,Australia and Oceania

As you see, some columns have space, which should be deleted:

In [26]:
# also
carbon.columns

Index(['name', 'metric tonnes of CO2', 'date_of_information', 'ranking',
       'region'],
      dtype='object')

In [27]:
# Like this
carbon.rename(columns={'metric tonnes of CO2':'metric_tonnes_of_CO2'},inplace=True)

# see
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  216 non-null    object
 1   metric_tonnes_of_CO2  216 non-null    float64
 2   date_of_information   216 non-null    int64
 3   ranking               216 non-null    int64
 4   region                216 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 8.6+ KB

You always make a copy:

In [28]:
carbon_copy=carbon.copy()

## Questions

Complete the tasks requested using **carbon_copy**:

1. Keep all the columns but _Ranking_:
    * Tip: use [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html), [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html), and [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) for the same purpose (three ways to accomplish the task).

2. Find the country with the minimum CO2 emission in the world.

3. Find the country with the minimum CO2 emission per Region.

4. Create a new column by keeping the square root of the the original CO2  column.

5. Compute the average of CO2. Then, create a new column. This new column is
the original CO2 minus the average computed.

You have changed **carbon_copy**, now save it as a file like this:

PREGUNTA 1

In [29]:
byeColumns=['ranking']
carbon_copy.drop(columns=byeColumns, inplace=True) #eliminar una columna con ayuda de drop
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region
0,China,1.219600e+10,2023,East and Southeast Asia
1,United States,4.795000e+09,2023,North America
2,India,2.821000e+09,2023,South Asia
3,Russia,1.844000e+09,2023,Central Asia
4,Japan,9.602300e+08,2023,East and Southeast Asia
...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa
215,Niue,9.000000e+00,2023,Australia and Oceania

PREGUNTA 2

In [30]:
Pais_min_CO2=carbon_copy[carbon_copy.metric_tonnes_of_CO2 == min(carbon_copy.metric_tonnes_of_CO2)]['name']

In [31]:
Pais_min_CO2

215    Niue
Name: name, dtype: object

PREGUNTA 3

In [47]:
set(carbon_copy.region)

{'Africa',
 'Antarctica',
 'Australia and Oceania',
 'Central America and the Caribbean',
 'Central Asia',
 'East and Southeast Asia',
 'Europe',
 'Middle East',
 'North America',
 'South America',
 'South Asia'}

In [45]:
soloAfrica=carbon_copy[carbon_copy.region=='Africa']
Pais_minCO2_Africa=soloAfrica[soloAfrica.metric_tonnes_of_CO2 == min(soloAfrica.metric_tonnes_of_CO2)] ['name']
Pais_minCO2_Africa

214    Saint Helena, Ascension, and Tristan da Cunha
Name: name, dtype: object

In [48]:
soloAntarctica=carbon_copy[carbon_copy.region=='Antarctica']
Pais_minCO2_Antarctica=soloAntarctica[soloAntarctica.metric_tonnes_of_CO2 == min(soloAntarctica.metric_tonnes_of_CO2)] ['name']
Pais_minCO2_Antarctica

213    Antarctica
Name: name, dtype: object

In [49]:
soloAustraliaOceania = carbon_copy[carbon_copy.region == 'Australia and Oceania']
Pais_minCO2_AustraliaOceania = soloAustraliaOceania[soloAustraliaOceania.metric_tonnes_of_CO2 == min(soloAustraliaOceania.metric_tonnes_of_CO2)]['name']
Pais_minCO2_AustraliaOceania

215    Niue
Name: name, dtype: object

In [50]:
soloCentralAmericaCaribbean = carbon_copy[carbon_copy.region == 'Central America and the Caribbean']
Pais_minCO2_CentralAmericaCaribbean = soloCentralAmericaCaribbean[soloCentralAmericaCaribbean.metric_tonnes_of_CO2 == min(soloCentralAmericaCaribbean.metric_tonnes_of_CO2)]['name']
Pais_minCO2_CentralAmericaCaribbean

212    Montserrat
Name: name, dtype: object

In [52]:
soloCentralAsia = carbon_copy[carbon_copy.region == 'Central Asia']
Pais_minCO2_CentralAsia = soloCentralAsia[soloCentralAsia.metric_tonnes_of_CO2 == min(soloCentralAsia.metric_tonnes_of_CO2)]['name']
Pais_minCO2_CentralAsia

121    Armenia
Name: name, dtype: object

In [53]:
soloEastSoutheastAsia = carbon_copy[carbon_copy.region == 'East and Southeast Asia']
Pais_minCO2_EastSoutheastAsia = soloEastSoutheastAsia[soloEastSoutheastAsia.metric_tonnes_of_CO2 == min(soloEastSoutheastAsia.metric_tonnes_of_CO2)]['name']
Pais_minCO2_EastSoutheastAsia

184    Timor-Leste
Name: name, dtype: object

In [54]:
soloEurope = carbon_copy[carbon_copy.region == 'Europe']
Pais_minCO2_Europe = soloEurope[soloEurope.metric_tonnes_of_CO2 == min(soloEurope.metric_tonnes_of_CO2)]['name']
Pais_minCO2_Europe

175    Faroe Islands
Name: name, dtype: object

In [63]:
soloMiddleEast = carbon_copy[carbon_copy.region == 'Middle East']
Pais_minCO2_MiddleEast = soloMiddleEast[soloMiddleEast.metric_tonnes_of_CO2 == min(soloMiddleEast.metric_tonnes_of_CO2)]['name']
Pais_minCO2_MiddleEast

141    Gaza Strip
142     West Bank
Name: name, dtype: object

In [56]:
soloNorthAmerica = carbon_copy[carbon_copy.region == 'North America']
Pais_minCO2_NorthAmerica = soloNorthAmerica[soloNorthAmerica.metric_tonnes_of_CO2 == min(soloNorthAmerica.metric_tonnes_of_CO2)]['name']
Pais_minCO2_NorthAmerica

210    Saint Pierre and Miquelon
Name: name, dtype: object

In [57]:
soloSouthAmerica = carbon_copy[carbon_copy.region == 'South America']
Pais_minCO2_SouthAmerica = soloSouthAmerica[soloSouthAmerica.metric_tonnes_of_CO2 == min(soloSouthAmerica.metric_tonnes_of_CO2)]['name']
Pais_minCO2_SouthAmerica

211    Falkland Islands (Islas Malvinas)
Name: name, dtype: object

In [58]:
soloSouthAsia = carbon_copy[carbon_copy.region == 'South Asia']
Pais_minCO2_SouthAsia = soloSouthAsia[soloSouthAsia.metric_tonnes_of_CO2 == min(soloSouthAsia.metric_tonnes_of_CO2)]['name']
Pais_minCO2_SouthAsia

177    Bhutan
Name: name, dtype: object

PREGUNTA 4

In [77]:
raizCO2=lambda x:x**(1/2) # la funcion que saca la raiz
raiz_de_CO2=carbon_copy.loc[:,'metric_tonnes_of_CO2'].apply(raizCO2) # se aplico la funcion a todas las filas pero solo en la columna indicada
carbon_copy=carbon_copy.assign(raiz_para_CO2=raiz_de_CO2)
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region,CO2^2,raiz_para_CO2
0,China,1.219600e+10,2023,East and Southeast Asia,110435.501538,110435.501538
1,United States,4.795000e+09,2023,North America,69245.938509,69245.938509
2,India,2.821000e+09,2023,South Asia,53113.086900,53113.086900
3,Russia,1.844000e+09,2023,Central Asia,42941.821107,42941.821107
4,Japan,9.602300e+08,2023,East and Southeast Asia,30987.578156,30987.578156
...,...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America,6.000000,6.000000
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean,4.898979,4.898979
213,Antarctica,1.500000e+01,2023,Antarctica,3.872983,3.872983
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa,3.464102,3.464102
215,Niue,9.000000e+00,2023,Australia and Oceania,3.000000,3.000000

PREGUNTA 5

In [87]:
promedio_CO2=sum(carbon_copy.metric_tonnes_of_CO2)/len(carbon_copy.metric_tonnes_of_CO2)
#lend se usa para obtener la cantidad de datos y sum para obtener la suma de todos los datos
resta=carbon_copy.metric_tonnes_of_CO2-promedio_CO2 #se obtuvo una columna con la resta
carbon_copy=carbon_copy.assign(resta_CO2_promedio=resta) #agregar la columna creada
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region,CO2^2,raiz_para_CO2,resta_CO2_promedio
0,China,1.219600e+10,2023,East and Southeast Asia,110435.501538,110435.501538,1.202444e+10
1,United States,4.795000e+09,2023,North America,69245.938509,69245.938509,4.623435e+09
2,India,2.821000e+09,2023,South Asia,53113.086900,53113.086900,2.649435e+09
3,Russia,1.844000e+09,2023,Central Asia,42941.821107,42941.821107,1.672435e+09
4,Japan,9.602300e+08,2023,East and Southeast Asia,30987.578156,30987.578156,7.886654e+08
...,...,...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America,6.000000,6.000000,-1.715645e+08
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean,4.898979,4.898979,-1.715645e+08
213,Antarctica,1.500000e+01,2023,Antarctica,3.872983,3.872983,-1.715645e+08
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa,3.464102,3.464102,-1.715646e+08
215,Niue,9.000000e+00,2023,Australia and Oceania,3.000000,3.000000,-1.715646e+08

In [86]:
# carbon_copy.to_csv("carbon_copy.csv",index=False)